Cyncly/autoremediation/unfamiliarLogin/logicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Entities_-_Get_Accounts": {
                "inputs": {
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/entities/account"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Append_to_string_variable": {
                        "inputs": {
                            "name": "AADID",
                            "value": "@{items('For_each')?['AadUserId']}"
                        },
                        "runAfter": {},
                        "type": "AppendToStringVariable"
                    }
                },
                "foreach": "@body('Entities_-_Get_Accounts')?['Accounts']",
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP": {
                "inputs": {
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "clientId": "",
                        "secret": "",
                        "tenant": "",
                        "type": "ActiveDirectoryOAuth"
                    },
                    "body": {
                        "Query": "DeviceEvents | take 10"
                    },
                    "method": "POST",
                    "uri": "https://graph.microsoft.com/v1.0/security/runHuntingQuery"
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "AADID",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Entities_-_Get_Accounts": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "results": {
                                "items": {
                                    "properties": {
                                        "AccountDomain": {
                                            "type": "string"
                                        },
                                        "AccountName": {
                                            "type": "string"
                                        },
                                        "AccountObjectId": {
                                            "type": "string"
                                        },
                                        "AccountSid": {
                                            "type": "string"
                                        },
                                        "AccountUpn": {
                                            "type": "string"
                                        },
                                        "AdditionalFields": {
                                            "type": "string"
                                        },
                                        "AlertId": {
                                            "type": "string"
                                        },
                                        "Application": {
                                            "type": "string"
                                        },
                                        "ApplicationId": {},
                                        "AttackTechniques": {
                                            "type": "string"
                                        },
                                        "Categories": {
                                            "type": "string"
                                        },
                                        "DetectionSource": {
                                            "type": "string"
                                        },
                                        "DeviceId": {
                                            "type": "string"
                                        },
                                        "DeviceName": {
                                            "type": "string"
                                        },
                                        "EmailSubject": {
                                            "type": "string"
                                        },
                                        "EntityType": {
                                            "type": "string"
                                        },
                                        "EvidenceDirection": {
                                            "type": "string"
                                        },
                                        "EvidenceRole": {
                                            "type": "string"
                                        },
                                        "FileName": {
                                            "type": "string"
                                        },
                                        "FileSize": {},
                                        "FolderPath": {
                                            "type": "string"
                                        },
                                        "LocalIP": {
                                            "type": "string"
                                        },
                                        "NetworkMessageId": {
                                            "type": "string"
                                        },
                                        "OAuthApplicationId": {
                                            "type": "string"
                                        },
                                        "ProcessCommandLine": {
                                            "type": "string"
                                        },
                                        "RegistryKey": {
                                            "type": "string"
                                        },
                                        "RegistryValueData": {
                                            "type": "string"
                                        },
                                        "RegistryValueName": {
                                            "type": "string"
                                        },
                                        "RemoteIP": {
                                            "type": "string"
                                        },
                                        "RemoteUrl": {
                                            "type": "string"
                                        },
                                        "SHA1": {
                                            "type": "string"
                                        },
                                        "SHA256": {
                                            "type": "string"
                                        },
                                        "ServiceSource": {
                                            "type": "string"
                                        },
                                        "ThreatFamily": {
                                            "type": "string"
                                        },
                                        "Timestamp": {
                                            "type": "string"
                                        },
                                        "Title": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "Timestamp",
                                        "AlertId",
                                        "Title",
                                        "Categories",
                                        "AttackTechniques",
                                        "ServiceSource",
                                        "DetectionSource",
                                        "EntityType",
                                        "EvidenceRole",
                                        "EvidenceDirection",
                                        "FileName",
                                        "FolderPath",
                                        "SHA1",
                                        "SHA256",
                                        "FileSize",
                                        "ThreatFamily",
                                        "RemoteIP",
                                        "RemoteUrl",
                                        "AccountName",
                                        "AccountDomain",
                                        "AccountSid",
                                        "AccountObjectId",
                                        "AccountUpn",
                                        "DeviceId",
                                        "DeviceName",
                                        "LocalIP",
                                        "NetworkMessageId",
                                        "EmailSubject",
                                        "Application",
                                        "ApplicationId",
                                        "OAuthApplicationId",
                                        "ProcessCommandLine",
                                        "RegistryKey",
                                        "RegistryValueName",
                                        "RegistryValueData",
                                        "AdditionalFields"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "schema": {
                                "items": {
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "type"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/incident-creation"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "connectionId": "",
                    "connectionName": "",
                    "id": ""
                }
            }
        }
    }
}
