Cyncly/autoremediation/Isolate Machine incident trigger.JSON
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Check_that_incident_is_indicative_of_an_attack": {
                "actions": {
                    "Condition": {
                        "actions": {
                            "Add_comment_to_incident_(V3)": {
                                "inputs": {
                                    "body": {
                                        "incidentArmId": "@triggerBody()?['object']?['id']",
                                        "message": "<p>Machine has been isolated in a previous incident correlating to this host</p>"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/Incidents/Comment"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "else": {
                            "actions": {
                                "Add_comment_to_incident_(V3)_2": {
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p>The machine has been isolated on this incident being triggered</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@result('Scope')[0]['status']",
                                        "Failed"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Scope": [
                                "Succeeded",
                                "FAILED",
                                "TIMEDOUT",
                                "SKIPPED"
                            ]
                        },
                        "type": "If"
                    },
                    "Entities_-_Get_Hosts": {
                        "inputs": {
                            "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/entities/host"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "Get_mdaptID_for_devices_": {
                        "actions": {
                            "Append_MdaptID_": {
                                "inputs": {
                                    "name": "Mdaptvalue",
                                    "value": "@body('Parse_JSON')?['additionalData']?['MdatpDeviceId']"
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "AppendToArrayVariable"
                            },
                            "Parse_JSON": {
                                "inputs": {
                                    "content": "@items('Get_mdaptID_for_devices_')",
                                    "schema": {
                                        "properties": {
                                            "Type": {
                                                "type": "string"
                                            },
                                            "additionalData": {
                                                "properties": {
                                                    "AadDeviceId": {
                                                        "type": "string"
                                                    },
                                                    "AvStatus": {
                                                        "type": "string"
                                                    },
                                                    "FQDN": {
                                                        "type": "string"
                                                    },
                                                    "HealthStatus": {
                                                        "type": "string"
                                                    },
                                                    "LastExternalIpAddress": {
                                                        "type": "string"
                                                    },
                                                    "LastIpAddress": {
                                                        "type": "string"
                                                    },
                                                    "LastSeen": {
                                                        "type": "string"
                                                    },
                                                    "LoggedOnUsers": {
                                                        "type": "string"
                                                    },
                                                    "MdatpDeviceId": {
                                                        "type": "string"
                                                    },
                                                    "OnboardingStatus": {
                                                        "type": "string"
                                                    },
                                                    "RiskScore": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "friendlyName": {
                                                "type": "string"
                                            },
                                            "hostName": {
                                                "type": "string"
                                            },
                                            "osFamily": {
                                                "type": "string"
                                            },
                                            "osVersion": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {},
                                "type": "ParseJson"
                            }
                        },
                        "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
                        "runAfter": {
                            "Entities_-_Get_Hosts": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "Scope": {
                        "actions": {
                            "For_each_2": {
                                "actions": {
                                    "Actions_-_Isolate_machine_2": {
                                        "inputs": {
                                            "body": {
                                                "Comment": "Isolated due to automation",
                                                "IsolationType": "Full"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['wdatp']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/api/machines/@{encodeURIComponent(items('For_each_2'))}/isolate",
                                            "retryPolicy": {
                                                "type": "none"
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "ApiConnection"
                                    }
                                },
                                "foreach": "@variables('Mdaptvalue')",
                                "runAfter": {},
                                "type": "Foreach"
                            }
                        },
                        "runAfter": {
                            "Get_mdaptID_for_devices_": [
                                "Succeeded"
                            ]
                        },
                        "type": "Scope"
                    }
                },
                "expression": {
                    "or": [
                        {
                            "equals": [
                                "@triggerBody()?['object']?['properties']?['title']",
                                "Sticky Keys binary hijack detected"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "initliaze_Mdatpvalue_": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "initliaze_Mdatpvalue_": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Mdaptvalue",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/incident-creation"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "connectionId": "/subscriptions/0d3004e1-9958-46e2-af88-912777aa13e1/resourceGroups/plt-mgmt-mon-weu-rg/providers/Microsoft.Web/connections/azuresentinel-Autoremediation-hacker-IsolateDevice",
                    "connectionName": "azuresentinel-Autoremediation-hacker-IsolateDevice",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    },
                    "id": "/subscriptions/0d3004e1-9958-46e2-af88-912777aa13e1/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel"
                },
                "azuresentinel_1": {
                    "connectionId": "/subscriptions/0d3004e1-9958-46e2-af88-912777aa13e1/resourceGroups/plt-mgmt-mon-weu-rg/providers/Microsoft.Web/connections/azuresentinel-1",
                    "connectionName": "azuresentinel-1",
                    "id": "/subscriptions/0d3004e1-9958-46e2-af88-912777aa13e1/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel"
                },
                "wdatp": {
                    "connectionId": "/subscriptions/0d3004e1-9958-46e2-af88-912777aa13e1/resourceGroups/plt-mgmt-mon-weu-rg/providers/Microsoft.Web/connections/wdatp",
                    "connectionName": "wdatp",
                    "id": "/subscriptions/0d3004e1-9958-46e2-af88-912777aa13e1/providers/Microsoft.Web/locations/westeurope/managedApis/wdatp"
                }
            }
        }
    }
}
